In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("creditcardmarketing.csv")

In [3]:
df.head()

,1,No,Air Miles,Letter,High,1.1,No.1,High.1,2,1.2,4,No.2,1160.75,1669,877,1095,1002
0,2,No,Air Miles,Letter,Medium,1,No,Medium,2,2,5,Yes,147.25,39.0,106.0,78.0,366.0
1,3,No,Air Miles,Postcard,High,2,No,Medium,2,1,2,Yes,276.50,367.0,352.0,145.0,242.0
2,4,No,Air Miles,Letter,Medium,2,No,High,1,1,4,No,1219.00,1578.0,1760.0,1119.0,419.0
3,5,No,Air Miles,Letter,Medium,1,No,Medium,2,1,6,Yes,1211.00,2140.0,1357.0,982.0,365.0
4,6,No,Air Miles,Letter,Medium,1,No,High,3,1,4,No,1114.75,1847.0,1365.0,750.0,497.0

In [4]:
df.shape

(17999, 17)

In [5]:
print(df.describe())

                  1           1.1             2           1.2             4  \
count  17999.000000  17999.000000  17999.000000  17999.000000  17999.000000
mean    9001.000000      1.255792      1.903495      1.203456      3.499028
std     5196.008083      0.472510      0.797031      0.427350      1.114207
min        2.000000      1.000000      1.000000      1.000000      1.000000
25%     4501.500000      1.000000      1.000000      1.000000      3.000000
50%     9001.000000      1.000000      2.000000      1.000000      3.000000
75%    13500.500000      1.000000      2.000000      1.000000      4.000000
max    18000.000000      3.000000      4.000000      3.000000      9.000000

            1160.75          1669           877          1095          1002
count  17975.000000  17975.000000  17975.000000  17975.000000  17975.000000
mean     940.503310    910.408456    999.398999   1042.030654    810.175132
std      350.303729    620.068494    457.414081    553.467854    559.015084
min       48.250000      0.000000      0.000000      0.000000      0.000000
25%      787.500000    392.500000    663.000000    633.000000    363.000000
50%     1007.000000    772.000000   1032.000000    945.000000    703.000000
75%     1153.125000   1521.000000   1342.000000   1463.000000   1212.000000
max     3366.250000   3450.000000   3421.000000   3823.000000   4215.000000

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17999 entries, 0 to 17998
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1          17999 non-null  int64
 1   No         17999 non-null  object
 2   Air Miles  17999 non-null  object
 3   Letter     17999 non-null  object
 4   High       17999 non-null  object
 5   1.1        17999 non-null  int64
 6   No.1       17999 non-null  object
 7   High.1     17999 non-null  object
 8   2          17999 non-null  int64
 9   1.2        17999 non-null  int64
 10  4          17999 non-null  int64
 11  No.2       17999 non-null  object
 12  1160.75    17975 non-null  float64
 13  1669       17975 non-null  float64
 14  877        17975 non-null  float64
 15  1095       17975 non-null  float64
 16  1002       17975 non-null  float64
dtypes: float64(5), int64(5), object(7)
memory usage: 2.3+ MB
None

In [7]:
print(df.isnull().sum())

1             0
No            0
Air Miles     0
Letter        0
High          0
1.1           0
No.1          0
High.1        0
2             0
1.2           0
4             0
No.2          0
1160.75      24
1669         24
877          24
1095         24
1002         24
dtype: int64

In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import accuracy_score, classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from imblearn.over_sampling import SMOTE

In [41]:
print(df.customer Number

SyntaxError: '(' was never closed (3628094188.py, line 1)